@{
    ViewBag.Title = "Home Page";
}


<html>


<body>
    <div class="container" >

       
        <div >
            <h1>Corona management system</h1>
            <p class="lead"> This website is designed to manage HMO customers and their corona information</p>
           
            <p class="lead"> Great day and good health!</p>
           
        </div>

    </div>
    <p>
        @Html.ActionLink("GO TO PATIRNTS LIST", "Index", "Patients",null, new { @class ="btn btn-primary btn-lg btn-block", @role = "button" })
    </p>
</body>

</html>